
*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 0px;
    padding: 0px;
}


body{
    background: black;
    color: white;
}
header{
    background: blue;
}
footer{
    background: red;
}
.scale-105{
    scale: 1.05;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.mobile-menu-slide {
    animation: slideDown 0.3s ease-out forwards;
}

.mobile-menu-hide {
    animation: slideUp 0.2s ease-in forwards;
}

/* Contenedor del carrusel */
.carousel-container {
  overflow: hidden;
  width: 100%; /* ancho total del contenedor */
  position: relative;
}

/* Pista animada */
.carousel-track {
  display: flex;
  gap: 0.5rem; /* espacio entre imágenes */
  animation: scroll-left 20s linear infinite;
  /* Duplicado para que no se note el salto */
}

/* Animación mover todo a la izquierda infinitamente */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}


.flip-container { perspective: 1000px; }
.flip-card { 
  position: relative; 
  width: 100%; 
  height: 100%; 
  transition: transform 0.6s ease; 
  transform-style: preserve-3d; 
}
.group:hover .flip-card { transform: rotateY(180deg); }
.flip-front, .flip-back { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  backface-visibility: hidden; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  border-radius: 0.75rem;
}
.flip-back { transform: rotateY(180deg); }



/* Ocultar scrollbar en el carrusel */
#projects-track {
  -ms-overflow-style: none;   /* IE y Edge */
  scrollbar-width: none;      /* Firefox */
}

#projects-track::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
